.navigation{
    height: 60px;
    display: flex;
    align-items: center;
    background-color:#122936 ;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

/*#2196F3     blue*/

/*#122936     black*/


.navigation_logo{
    width: 150px;
    object-fit: contain;
    margin: 0px;
    /*margin-top: 18px;*/
}

.navigation_search{
    
    display: flex;
    flex: 1;
    align-items: center;
    margin-right: 25px;
   
}

.navigation_searchInput{
    border-radius: 10px 0 0 10px;
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    
}

.navigation_searchIcon {
    border-radius: 0px 10px 10px 0px;
    padding: 5px;
    height: 22px !important;
    background-color: #2196F3;
    color: white;
}

.navigation_nav{
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
}

.navigation_option{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
}

.navigation_optionLineOne{
    font-size: 10px;
}

.navigation_optionLineTwo{
    font-size: 13px;
    font-weight: 700;
}

.navigation_optionBasket{
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: #ffffff;
}

.navigation_basketCount{
    margin-left: 3px;
    margin-right: 10px;
}